.header {
  color: white;
  background-color: darkcyan;
  padding: 15px;
  font-family: "Georgia", serif;
}

.body {
  margin: 20px;
  font-family: "Georgia", serif;
}

.person {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe-box {
  border: 2px solid;
  border-color: darkorange;
}

.recipe {
  margin: 10px;
}